@Html.ActionLink("Author", "Author", null, new { @class = "btn btn-default" })
@Html.ActionLink("Title", "Title", null, new { @class = "btn btn-default" })
@Html.ActionLink("ISBN", "Isbn", null, new { @class = "btn btn-default" })
@Html.ActionLink("Category", "Category", null, new { @class = "btn btn-default" })
@Html.ActionLink("Label", "Label", null, new { @class = "btn btn-default" })

<p>
    <br />
</p>