@using MVC_projekt.Models.Helpers
@Styles.Render("~/Content/css")

<ul class="nav navbar-nav navbar-right">
    <li>
        @if (Session["Language"] != null)
        {
            var aa = Session["Language"].ToString();

            if (Session["Language"].ToString().Equals("en"))
            {
                <a href="/pl">
                    <img src="@Url.Content("~/Images/pl.png")" />
                </a>
            }
            if (Session["Language"].ToString().Equals("pl"))
            {
                <a href="/en">
                    <img src="@Url.Content("~/Images/gb.png")" />
                </a>
            }
        }
        else
        {
            <a href="/en">
                <img src="@Url.Content("~/Images/gb.png")" />
            </a>
        }
    </li>
</ul>