@Html.ActionLink("Author", "Author", "Search", null, new { @class = "btn btn-default" })
@Html.ActionLink("Title", "Title", "Search", null, new { @class = "btn btn-default" })
@Html.ActionLink("ISBN", "Isbn", "Search", null, new { @class = "btn btn-default" })
@Html.ActionLink("Category", "Category", "Search", null, new { @class = "btn btn-default" })
@Html.ActionLink("Label", "Label", "Search", null, new { @class = "btn btn-default" })

<p>
    <br />
</p>