@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Konto nie aktywne</h1>
    <h2 class="text-danger">Konto oczekuje na akceptację ze strony administracji.</h2>
</hgroup>
