/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 320px;
  margin-top: 12px;
    margin-bottom: 1px;

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 320px;
  background-color: #778899;
}

.nowosc {
    color: coral;
    font-family: Monotype Corsiva;
}