@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bialystok University of Technologies<br />
    Wiejska 48a, Bialystok<br />
    <abbr title="Phone">P:</abbr>
    888.888.888
</address>

<address>
    <strong>Main librarian:</strong>   <a href="mailto:boddzio1@interia.pl">boddzio1@interia.pl</a>
</address>