@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bogdaniec Library</h1>
    <p class="lead">Bogdaniec is new library in Bialystok University of Technologies. Here you can find books for every programmer. We also have books for normal people :)</p>
    <p><a href="/Books" class="btn btn-primary btn-lg">Our books &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="http://www.gminaostroda.pl/images/stories/obrazki/blog_to_4217543_8045063_sz_ksiazka.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <img src="http://www.tapeteos.pl/data/media/448/big/rozne_2880x1800_015_ksiazki.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Log in and enter the real world of magic</p>
        <p><a class="btn btn-default" href="/Account/Login">Log in &raquo;</a></p>
    </div>
</div>